<div class="container">
  <div class="row">
      <div class="col-md-6 illustration-left hidden-xs-down not-visible">

      </div>
      <div class="col-md-6 illustration-right">
        <div class="login-content">
            <h2 class="">IBRAHIMA TRAORE</h2>
            <p class="text-muted">
                Learning Space.
              </p>
              <!--  FLASH MESSAGE  --->
              <div class="alert alert-info"  *ngIf="showsuccessFullyMessage">
                    Please, Check your email !
              </div>
            <form [formGroup]="registerForm" id="form-signup" (validSubmit)="onSubmit()">
                <!-- PREVENT RESUBMISSION --->
                <input type="hidden" formControlName="$key">
                <!--<div class="form-group">
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Mot de passe" formControlName="password">
                </div> -->
                <div class="buttons">

                  <button type="button" class="btn btn-secondary" (click)="onSubmit('Inscription')">S'inscrire</button>
                  <button type="button" class="btn btn-allready-have" (click)="onSubmit('Connection')">J'ai déjà un compte</button>
                </div>
                <div class="buttons">
                  <button type="button" class="btn btn-allready-have" (click)="onSubmit('google')">Google</button>
                  <button type="button" class="btn btn-allready-have" (click)="onSubmit('facebook')">Facebook</button>
                  <!-- <button type="button" class="btn btn-allready-have" (click)="onSubmit('twitter')">Twitter</button> -->
                </div>
              </form>

        </div>

      </div>
  </div>
</div>
<script>

</script>
